
h1, p, body {
    margin: 0px;
  }
  
  p, a {
    font-size: 20px;
  }
  
  header {
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    text-align: center;
  }
body {
    margin: 0px auto;
    font-size: 20px;
}
h1  {
    color: rgb(255, 255, 255);
  }
main {
    padding: 10px;
}
#parent {
    display: flex; 
    justify-content: space-around;
}


.flexbox-container {
    padding: 5px;
    text-align: center;
    justify-content: space-between; 
    align-items: center;
}

.contents {
    border: solid 3px rgb(238, 204, 204);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0px;
    text-align: center;
}
h2::before {
    content: "●";
    color: rgb(239, 111, 139);
}
h2{
    font-size: 25px;
    border-bottom: dotted 3px rgb(236, 122, 122);
}
.contents:nth-child(3) p:nth-child(3)::first-letter {
    color: rgb(97, 206, 249);
    font-weight: bold;
}
.contents:nth-child(2) p:nth-child(3)::first-letter {
    color: rgb(97, 206, 249);
    font-weight: bold;
}
.contents:nth-child(1) p:nth-child(3)::first-letter {
    color: rgb(97, 206, 249);
    font-weight: bold;
}
.contents img {
    margin: 10px 0px;
    width: 70%;
}
footer{
    background-color: rgb(244,79,79);
    text-align: center;
}
a link{
    color: rgb(255, 255, 255);
}
a:visited{
    color: rgb(193,234,251);
}
a:hover{
    color: rgb(245,234,251);
}

/*レスポンシブ対応*/
@media screen and (max-width: 768px) {
    
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 25px;
    }
    #parent {
        display: flex;
        flex-direction: column;
    }
  }
